@font-face {
	font-family: "JetBrains Mono";
	src: url("./assets/JetBrainsMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

body {
	/* background: linear-gradient(to right, #222, #000); */
	background-color: #130f40;
	background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", serif;
	font-weight: 500;
	height: 100vh;
	background-size: cover;
	background-position: center;
	transition: background-image 0.5s ease;
}

#overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	backdrop-filter: brightness(0.7);
	color: white;
	text-align: center;
	gap: 20px;
}

#clock {
	font-size: 5rem;
	font-weight: bold;
	background: linear-gradient(to right, rgb(250, 19, 204), hotpink, rgb(19, 199, 212), purple);
	color: transparent;
	background-clip: text;
}

#date {
	font-style: bold;
	font-size: 1.8rem;
}

#quote {
	font-size: 20px;
	font-style: italic;
	max-width: 70%;
}

#change-bg {
	padding: 10px 20px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 8px;
}
